body{
    background-color: #41BAE5;

    font-family: monospace; 
    /*background-image: url(Firstproyectlab/laboratory@2x.png)no-repeat center top;
    position: center;*/
}
.hide{
    display: none;
}
#error{
    text-align:center;
    
}
h1{
    text-align: center;
    color: #204362;
    font-size: 30PX;
    display:block;
    margin:auto;
    font-family: 'Pacifico', cursive;
}
h2{
    text-align: center;
    color: #204362;
    font-family: 'Bree Serif', serif;
}
h3, h4{
    background-color: #41BAE5;
    font-family: monospace; 
    /*background-image: url(Firstproyectlab/laboratory@2x.png)no-repeat center top;
    position: center;*/
}
h1{
    text-align: center;
    color: #204362;
    font-size: 30PX;
    display:block;
    margin:auto;
    font-family: 'Pacifico', cursive;
}
h2{
    text-align: center;
    color: #204362;
    font-family: 'Bree Serif', serif;
}
h3, h4{
    text-align: center;
    color: #204362;
    font-family: 'Bree Serif', serif;
}
#enviar {
    color: white;
    size: 70px;
    display: block;
    margin: auto;
    cursor:pointer;
    cursor: hand;
}
#clave {
    display: block;
    margin: auto;
}
#cmp{
    margin-left:600px;
    width: 55px;
    height: 20px;
    padding:8px;
     border:2.5px solid;
    border-radius: 6px;
    font-size: 1.2em; 
    display: block;
    margin: auto;    
  } 
/* input nombre */
#name3 {
    height: 15px;
    border:2.5px solid;
    border-radius: 4px;
    font-size: 15px; 
    display: block;
    margin: auto;    
    display: block;
    margin: auto;
}
/* textarea cifrar */
#cifrar{
    display: block;
    margin: auto;
}
/* textarea descifrar */
#descifrar {
    display: block;
    margin: auto;

}
#Back{
    display: block;
    margin: auto;
    cursor:pointer;
    cursor: hand;
}
/* boton de cifrar */
#linea{
    display: block;
    margin: auto;
    cursor:pointer;
    cursor: hand;
   
  }
  /* boton descifrar */
#linea2 {
    display: block;
    margin: auto;
    cursor:pointer;
    cursor: hand;
   
}
.imagen1 {
     height: 150px;
     width: 300px;
     display:block;
     margin:auto;
}
 .imagen2 {
    height:300px;
    width: 500;
    size: 200px;
    display:block;
    margin:auto;
}
button{
    height: 30px;
    width: 80px;
    background: #204362;
    color: white;
}/* Acá van tus reglas de estilo */