body{
    font-family: monospace; 
    background-color: #41BAE5;
    /*background-image: url(Firstproyectlab/laboratory@2x.png)no-repeat center top;
    position: center;*/
}

.hide{
    display: none;
}
#error{
    text-align:center;
    color: rgb(211, 33, 33);
    font-family: 'Patrick Hand', cursive;
}
h1{
    text-align: center;
    color: #204362;
    font-size: 30PX;
    display:block;
    margin:auto;
    font-family: 'Pacifico', cursive;
}
h2{
    text-align: center;
    color: #204362;
    font-family: 'Bree Serif', serif;
}
h3, h4{
    background-color: #41BAE5;
    font-family: monospace; 
    /*background-image: url(Firstproyectlab/laboratory@2x.png)no-repeat center top;
    position: center;*/
}
h1{
    text-align: center;
    color: #204362;
    font-size: 30PX;
    display:block;
    margin:auto;
    font-family: 'Pacifico', cursive;
}
h2{
    text-align: center;
    color: #204362;
    font-family: 'Bree Serif', serif;
}
h3, h4{
    text-align: center;
    color: #204362;
    font-family: 'Bree Serif', serif;
}
#enviar {
    color: white;
    size: 70px;
    display: block;
    margin: auto;
    cursor:pointer;
    cursor: hand;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(top, #41BAE5, #204362);
    background-image: -moz-linear-gradient(top, #41BAE5, #204362);
    background-image: -ms-linear-gradient(top,  #41BAE5, #204362);
    background-image: -o-linear-gradient(top,  #41BAE5, #204362);
    background-image: linear-gradient(to bottom, #41BAE5, #204362);
}
#clave {
    display: block;
    margin: auto;
}
#cmp{
    margin-left:600px;
    width: 55px;
    height: 20px;
    padding:8px;
     border:2.5px solid;
    border-radius: 6px;
    font-size: 1.2em; 
    display: block;
    margin: auto;    
  } 
/* input nombre */
#name3 {
    height: 15px;
    border-radius: 6px solid;
    font-size: 15px; 
    display: block;
    margin: auto;    
    display: block;
    margin: auto;
}
/* textarea cifrar */
#cifrado{
    display: block;
    margin: auto;

}
#back{
    display: block;
    margin: auto;
    cursor:pointer;
    cursor: hand;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(top, #41BAE5, #204362);
    background-image: -moz-linear-gradient(top, #41BAE5, #204362);
    background-image: -ms-linear-gradient(top,  #41BAE5, #204362);
    background-image: -o-linear-gradient(top,  #41BAE5, #204362);
    background-image: linear-gradient(to bottom, #41BAE5, #204362);
}
/* boton de cifrar */
#linea{
    display: block;
    margin: auto;
    cursor:pointer;
    cursor: hand;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(top, #41BAE5, #204362);
    background-image: -moz-linear-gradient(top, #41BAE5, #204362);
    background-image: -ms-linear-gradient(top,  #41BAE5, #204362);
    background-image: -o-linear-gradient(top,  #41BAE5, #204362);
    background-image: linear-gradient(to bottom, #41BAE5, #204362);
  }
  /* boton descifrar */
#linea2 {
    display: block;
    margin: auto;
    cursor:pointer;
    cursor: hand;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(top, #41BAE5, #204362);
    background-image: -moz-linear-gradient(top, #41BAE5, #204362);
    background-image: -ms-linear-gradient(top,  #41BAE5, #204362);
    background-image: -o-linear-gradient(top,  #41BAE5, #204362);
    background-image: linear-gradient(to bottom, #41BAE5, #204362);
   }
.imagen1 {
     height: 150px;
     width: 300px;
     display:block;
     margin:auto;
}
 .imagen2 {
    height:300px;
    width: 500;
    size: 200px;
    display:block;
    margin:auto;
}
.imagen3 {
    position: relative;
    right: 300px;
    size: 100px;
}
button{
    height: 30px;
    width: 80px;
    background: #204362;
    color: white;
}
footer {
		text-align:left;
    color: rgb(211, 33, 33);
		font-family: 'Patrick Hand', cursive;
		font-weight: 700;
		-webkit-text-stroke: 2em black;
}
#leslie{
    color: #e64980;
    background-color: #41BAE5;
}